<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new Task</title>
</head>
<body>

    <form action="" method="post">
        <label for="task-code">code: </label>
        <input type="text" name="task-code" id="input-task-code">
        
        <label for="task-name">name: </label>
        <input type="text" name="task-name" id="input-task-name">
        
        <label for="task-description">description: </label>
        <input type="text" name="task-description" id="input-task-description">
        
        <input type="submit" value="Create" />
    </form>
    
</body>
</html>